In [1]:
# Inverted Indexing Method

In [2]:
DocIDDoc = {}

In [3]:
TDID = []

In [48]:
import glob
maxDocID = 0
skip_symbols = "!\"'#$%&()*+-,./:;<=>?@[\]^_`{|}~\n"
for f in glob.glob("./shakespeare/*.txt"):
    maxDocID += 1
    playName = f.replace('./shakespeare/','').replace('.txt','')
    DocIDDoc[maxDocID] = playName
    print('{0:3d}\t'.format(maxDocID), '{0: <30}'.format(playName[0:30]))
    with open(f) as file:
        l = 1
        for line in file:
            line_as_str = line.rstrip()
            line_tokens = line_as_str.split()
            l += 1
            if maxDocID<5 and l < 5: 
                print( line_as_str )
                print( line_tokens )
            for token in line_tokens:
                for s in skip_symbols:
                    token = token.replace(s, '')
                if len(token)>0:
                # if skip_symbols.find(token) == -1: 
                    TDID.append((token, maxDocID))

  1	 ./shakespeare\A Midsummer Nigh
Midsummer Night's Dream: Entire Play
['Midsummer', "Night's", 'Dream:', 'Entire', 'Play']

[]
A Midsummer Night's Dream
['A', 'Midsummer', "Night's", 'Dream']
  2	 ./shakespeare\All's Well That
All's Well That Ends Well: Entire Play
["All's", 'Well', 'That', 'Ends', 'Well:', 'Entire', 'Play']

[]
All's Well That Ends Well
["All's", 'Well', 'That', 'Ends', 'Well']
  3	 ./shakespeare\Antony and Cleop
Antony and Cleopatra: Entire Play
['Antony', 'and', 'Cleopatra:', 'Entire', 'Play']

[]
Antony and Cleopatra
['Antony', 'and', 'Cleopatra']
  4	 ./shakespeare\As You Like It
As You Like It: Entire Play
['As', 'You', 'Like', 'It:', 'Entire', 'Play']

[]
As You Like It
['As', 'You', 'Like', 'It']
  5	 ./shakespeare\Coriolanus
  6	 ./shakespeare\Cymbeline
  7	 ./shakespeare\Hamlet
  8	 ./shakespeare\Henry IV, part 1
  9	 ./shakespeare\Henry IV, part 2
 10	 ./shakespeare\Henry V
 11	 ./shakespeare\Henry VI, part 1
 12	 ./shakespeare\Henry VI, part 2
 13	 ./shakespeare\Henry VI, part 3
 14	 ./shakespeare\Henry VIII
 15	 ./shakespeare\Julius Caesar
 16	 ./shakespeare\King John
 17	 ./shakespeare\King Lear
 18	 ./shakespeare\Love's Labours L
 19	 ./shakespeare\Macbeth
 20	 ./shakespeare\Measure for Meas
 21	 ./shakespeare\Much Ado About N
 22	 ./shakespeare\Othello
 23	 ./shakespeare\Pericles, Prince
 24	 ./shakespeare\Richard II
 25	 ./shakespeare\Richard III
 26	 ./shakespeare\Romeo and Juliet
 27	 ./shakespeare\Taming of the Sh
 28	 ./shakespeare\The Comedy of Er
 29	 ./shakespeare\The Merchant of
 30	 ./shakespeare\The Tempest
 31	 ./shakespeare\TheMerry Wives o
 32	 ./shakespeare\Timon of Athens
 33	 ./shakespeare\Titus Andronicus
 34	 ./shakespeare\Troilus and Cres
 35	 ./shakespeare\Twelfth Night
 36	 ./shakespeare\Two Gentlemen of
 37	 ./shakespeare\Winter's Tale

In [49]:
print(TDID[1:10])

[('Nights', 1), ('Dream', 1), ('Entire', 1), ('Play', 1), ('A', 1), ('Midsummer', 1), ('Nights', 1), ('Dream', 1), ('Shakespeare', 1)]

In [50]:
TDID.sort(key=lambda tpl: tpl[0])
i = 0
for (token, DocID) in TDID:
    print(token, DocID)
    i += 1
    if i >= 50:
        break;

1 8
1 8
1 11
1 11
1 14
10 14
2 9
2 9
2 12
2 12
2 14
2d 8
2s 8
2s 8
3 13
3 13
3 14
4 14
4d 8
5 14
5s 8
6 14
6d 8
7 14
8 14
8d 8
9 14
A 1
A 1
A 1
A 1
A 1
A 1
A 1
A 1
A 1
A 1
A 1
A 1
A 1
A 1
A 1
A 1
A 1
A 1
A 1
A 1
A 1
A 1
A 1

In [51]:
TDIDsets = {}
for token, DocID in TDID:
    if token in TDIDsets:
        TDIDsets[token].add(DocID)
    else:
        TDIDsets[token] = {DocID}

i = 0
for token in TDIDsets.keys():
    print(token, TDIDsets[token])
    i += 1
    if i >= 20:
        break;

1 {8, 11, 14}
10 {14}
2 {9, 12, 14}
2d {8}
2s {8}
3 {13, 14}
4 {14}
4d {8}
5 {14}
5s {8}
6 {14}
6d {8}
7 {14}
8 {14}
8d {8}
9 {14}
A {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37}
AARON {33}
ABERGAVENNY {14}
ABHORSON {20}

In [52]:
InvertedIndex = {}

i = 0
for token in TDIDsets.keys():
    InvertedIndex[token] = sorted(list(TDIDsets[token]))
    
    i += 1
    if i <= 50:
        print('{0: <30}'.format(token[0:30]), '[{0:3d}] =>\t'.format(len(InvertedIndex[token])), InvertedIndex[token])

1                              [  3] =>	 [8, 11, 14]
10                             [  1] =>	 [14]
2                              [  3] =>	 [9, 12, 14]
2d                             [  1] =>	 [8]
2s                             [  1] =>	 [8]
3                              [  2] =>	 [13, 14]
4                              [  1] =>	 [14]
4d                             [  1] =>	 [8]
5                              [  1] =>	 [14]
5s                             [  1] =>	 [8]
6                              [  1] =>	 [14]
6d                             [  1] =>	 [8]
7                              [  1] =>	 [14]
8                              [  1] =>	 [14]
8d                             [  1] =>	 [8]
9                              [  1] =>	 [14]
A                              [ 37] =>	 [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37]
AARON                          [  1] =>	 [33]
ABERGAVENNY                    [  1] =>	 [14]
ABHORSON                       [  1] =>	 [20]
ABRAHAM                        [  1] =>	 [26]
ACHILLES                       [  1] =>	 [34]
ACT                            [ 37] =>	 [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37]
ADAM                           [  1] =>	 [4]
ADRIAN                         [  1] =>	 [30]
ADRIANA                        [  1] =>	 [28]
ADRIANO                        [  1] =>	 [18]
AEGEON                         [  1] =>	 [28]
AEMELIA                        [  1] =>	 [28]
AEMILIA                        [  1] =>	 [28]
AEMILIUS                       [  1] =>	 [33]
AENEAS                         [  1] =>	 [34]
AEacida                        [  1] =>	 [12]
AEacides                       [  1] =>	 [27]
AEdile                         [  1] =>	 [5]
AEdiles                        [  1] =>	 [5]
AEgeon                         [  1] =>	 [28]
AEgle                          [  1] =>	 [1]
AEmilia                        [  1] =>	 [28]
AEmilius                       [  1] =>	 [33]
AEneas                         [  5] =>	 [3, 12, 30, 33, 34]
AEneastake                     [  1] =>	 [34]
AEolus                         [  1] =>	 [12]
AEsculapius                    [  2] =>	 [23, 31]
AEson                          [  1] =>	 [29]
AEsop                          [  1] =>	 [13]
AEtna                          [  1] =>	 [33]
AGAMEMNON                      [  1] =>	 [34]
AGRIPPA                        [  2] =>	 [3, 5]
AGUECHEEK                      [  1] =>	 [35]